@tailwind base;
@tailwind components;
@tailwind utilities;

div, p {
    color: #d4d4d4;
}


.infiniteScroll {
    animation: infiniteScroll 30s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

:hover.mCard {
    animation: height 1s;
    animation-fill-mode: forwards;
}

:hover.sidebar {
    animation: pull 1s;
    animation-fill-mode: forwards;
}

:hover.sidebar * {
    animation: offsetPull 1s;
    animation-fill-mode: forwards;
}

.loader {
    margin: 0px auto;
    width: 25px;
    height: 25px;
}

.loader-path {
    fill: none;
    stroke: blue;
    stroke-width: 3px;
    stroke-linecap: round;
    animation: animate-stroke 1.5s ease-in-out infinite;
}

@keyframes rotate {
    100% {
        transform: rotate(360deg);
    }
}

.circular-loader {
    animation: rotate 2s linear infinite;
}

@keyframes animate-stroke {
    0% {
        stroke-dasharray: 1, 200;
        stroke-dashoffset: 0;
        /* stroke: black; */
    }
    50% {
        stroke-dasharray: 89, 200;
        stroke-dashoffset: -35;
        /* stroke: black; */
    }
    100% {
        stroke-dasharray: 89, 200;
        stroke-dashoffset: -124;
        /* stroke: black; */
    }
}

@keyframes height {
    0% {
        background: rgba(38, 38, 38, 1);
    }
    100% {
        background: rgba(38, 38, 38, 0.8);
    }
}

@keyframes pull {
    100% {
        right: -3rem;
    }
}

@keyframes offsetPull {
    100% {
        right: 1rem;
    }
}

@keyframes infiniteScroll {
    0% {
        transform: translateX(0px);
    }
    100%{
        transform: translateX(-100%);
    }
}
